* {

}

body {
  font-family: 'Source Sans Pro';
  display: flex;
  clear: both;
  margin: 0px;
  border: 0px;
  padding: 0px;
}

/******* GLOBAL STUFF *******/
.link {
	color: #FF6600;
	cursor: pointer;
	transition: color 0.5s
}
.link:hover {
  color: #660000;
}

/******* LAYOUT *************/

.title {
  font-family: 'Fira Mono';
}

#side-bar {
  width: 26%;
  background-color: #bbbbbb;
  padding: 0.35em;
  white-space: nowrap;
}

.entry {
  padding: 10px;
  transition: padding-left 0.2s;
  cursor: pointer;
}
.entry:after {
  transition: content 0.5s;
}
.entry:hover:after {
  content: '+';
}
.entry:hover {
  padding-left: 20px;
  content: '&raquo;';
}

#sidebar-x {
  width: 15%;
  float: right;
  font-size: 20pt;
  text-align: right;
  padding-right: 0.45em;
}
#the-x {
  cursor: pointer;
}
#the-x:after {
  content: "\00d7";
}

#sidebar-title {
  font-family: Fira Mono;
  font-size: 26pt;
}

#sidebar-close {
  width: 5%;
  background-color: #bbbbbb;
  float: left;
  text-align: center;
  display: none;
  padding-top: 0.75em;
}

#sidebar-button {
  font-size: 26pt;
  cursor: pointer;
}

#main {
  width: 85%;
  text-align: center;
}

#main-title {
  font-family: Fira Mono;
  font-size: 26pt;
  padding: 0.2em;
}
